:root { 
  --black: #000000;
  --cararra: #ececec;
  --chicago: #5a5a5a;
  --emperor: #4f4a4a;
  --geraldine: #ff8989;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 28px;
  --font-size-xs: 16px;
 
  --font-family-montez: "Montez", Helvetica;
  --font-family-sf_pro_text-regular: "SF Pro Text-Regular", Helvetica;
}
.sfprotext-regular-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-emperor-16px {
  color: var(--emperor);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
